
<nav class="sitenav">
    <ul class="float-left">
        <li><%= link_to 'helping hands through food', root_path %></li>
    </ul>
    <ul>
    <li><%= link_to "About", about_path %></li>
    <li><%= link_to "Help", help_path %></li>
    <li><%= link_to "All Donations", donations_path%> </li>
    <li><%= link_to "New Donation", new_donation_path if current_user %> </li>
    <% if current_user %>
      <li>| <%= current_user.email %> | <%= link_to " ", destroy_user_session_path, :method=> :delete, :class => 'icon-logout'  %> </li>
      <li class="avatar"><%= image_tag("#{current_user.gravatar}") %></li>
    <% else %>
      <li><%= link_to "Sign in", new_user_session_path %></li>
    <% end %>
    <% if user_signed_in? %>
      <li><%= link_to 'Edit account', edit_user_registration_path %></li>
    <% else %>
      <li><%= link_to 'Sign up', new_user_registration_path %></li>
    <% end %>
    </ul>
</nav>
