<div class="mediabox">
  <dl class="dl-horizontal">
  
    <dd><%= image_tag(donation.image.url(:medium)) %></dd>  
  
    <h3><%= donation.title %></h3>
  
    <dt>Donator:</dt>
    <dd><%= donation.donator.name %></dd>
  
    <dt>Description:</dt>
    <dd><%= donation.description %></dd>
  
    <dt>Exchange time:</dt>
    <dd><%= donation.exchange_time %></dd>
  
    <dt>Exchange address:</dt>
    <dd><%= donation.exchange_address %></dd>
  
    <%= link_to "Edit", edit_donation_path(donation), :class => 'btn btn-primary' %>
    <br>
    <%= render '/donations/claim', :donation => donation if current_user %>
  </dl>
</div>



  
