<p id="notice"><%= notice %></p>

<p>
  <strong>Recieved:</strong>
  <%= @donation.recieved %>
</p>

<p>
  <strong>Donator:</strong>
  <%= @donation.donator %>
</p>

<p>
  <strong>Reciever:</strong>
  <%= @donation.reciever %>
</p>

<p>
  <strong>Recieve date:</strong>
  <%= @donation.recieve_datet %>
</p>

<p>
  <strong>Trade address:</strong>
  <%= @donation.trade_address %>
</p>

<%= link_to 'Edit', edit_donation_path(@donation) %> |
<%= link_to 'Back', donations_path %>
