<%= simple_form_for(@item) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.association :donation %>
    <%= f.input :title %>
    <%= f.input :details %>
    <%= f.input :type %>
    <%= f.input :expiration_date %>
    <%= f.input :image %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
